.card_btns, .reaction_btns, .gestion_btns{
    z-index: 1;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
}

.reaction_btns, .gestion_btns{
    width: 50%;
}

.reaction_btns{
    justify-content: flex-start;
}

.reaction_btns button{
    margin-left: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 50%;
}

.gestion_btns{
    justify-content: flex-end;
}

.gestion_btns button{
    margin-right: 10%;
}

.fav_btn, .delete_btn, .edit_btn, .like_btn{
    background: none;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}