.logo_cnt{
    width: 20%;
    height: 100%;
}

.logo{
    background-color: #303030;
    color: #F9F9F9;
    font-size: larger;
    font-weight: 400;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0.5rem 0 1.5rem;
}

.logo:hover{
    color:#3b7dbb;
}