.searcher{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searcher input{
    width: 100%;
    height: 6vh;
    position: relative;
    border: none;
    background-color:#242424;
    color: #3b7dbb;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    font-size: smaller;
}

.searcher input:hover{
    background-color: #494949;
    cursor: pointer;
}

.searcher input:focus{
    background-color: #494949;
    color: #242424;
    cursor: unset;
    outline: none;
}

.searcher input:active, .searcher input:focus{
    background-color: rgba(255, 255, 255, 0.897);
    padding-left: 1rem;
}

.searcher button{
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2%;
}

.searcher button i{
    background:none;
    color: #494949;
}

.searcher:hover i{
    background:none;
    color: #3b7dbb;
}