.card_cnt{
    @include mainCard;
    @include mainRadius_all;
    display: flex;
    flex-direction: column;   
    background-color: $colorHeaderActive;
    font-family: 'Quicksand', sans-serif;

    @media only screen and (max-width: $breakPointSmall){
        height: 100% !important;
    }
}

.card_img{
    z-index: 3;
    background-color: $colorGrey;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.card_img a{
    display: contents;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: 1s all ease;

    &:hover{
        transform: scale;
        -webkit-transform: scale(1.04);
        transition: 1.5s all ease;
    }
}


.like_count, .comment_count, .ubication, .expands{
    @include mainRadius_all;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1% 3%;
    margin: 1%;
    color: $colorWhite;
    font-size: x-small;
    background-color: $colorDarkOpacity;
    backdrop-filter: blur( 0.7rem );
    -webkit-backdrop-filter: blur( 0.7rem );
    transition: 0.3s all ease-out;

    &:hover{
        background-color: $colorDarkOpacityLess;
        cursor: default;
        transition: .3s all ease-in;
    }
}

.comment_count{
    left: unset;
    right:0;
}

.ubication{
    top: 0;
    left:0;
    bottom: unset;
}

.expands{
    display: none;
    top: 0;
    right:0;
    left: unset;
    bottom: unset;
    font-size: large;
    background: none;
}

.card_img:hover .expands {
    display: flex;
    transition: 0.5s all ease-out;
    color: $colorWhiteOpacityLess;
    background: none;
    backdrop-filter:none;
}

.like_count i, .comment_count i, .ubication i{
    margin-right: 0.5rem;
    color: $colorWhiteOpacity;
}

.card_txt{
    @include mainRadius_top;
    width: 100%;
    background-color:$colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 1%;
    height: 15vh;

    @media only screen and (max-width: $breakPointSmall){
        height: unset !important;
    }
}

.card_txt h1{
    width: 90%;
    background-color: inherit;
    color: $colorDark;
    font-weight: 500;
    font-size: medium;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    justify-content: flex-start;
    margin: 0 5%;
    line-height: 1.3rem;
}

.title_txt{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis !important;
    word-break: break-all;
}

.card_cnt .description_txt{
    text-overflow: ellipsis !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 0.7rem;
    max-height: 1.5rem;
    transition: 1s all;

    &:hover, &:active, &:focus{
        overflow-y: auto;
        -webkit-line-clamp: 4;
        transition: 1.5s all ease-out;
        max-height: 10rem;
        display: block;
    }

    &::-webkit-scrollbar{
        width: 0;
    }
    
    @media only screen and (max-width: $breakPointSmall){
        .card_cnt:hover, &:active, &:focus{
            max-height: 70rem;
            // max-height: 100%;
            transition: 3s all ease-out;
        }
    }
}

// USER CARD
.card_txt .user_cnt{
    width: 100%;
    margin: 2% 0;
}

.card_txt .user_photo{
    width: 1.1rem;
    height: 1.1rem;
}

.card_txt .user_name{
    margin: 0;
    font-size: x-small;
    font-weight: 400;
    color: $colorDarkOpacityLess;
}

.card_btns .newComment_box{
    position: fixed !important;
    z-index: 1;
    @include mainRadius_bottom;
    animation: moveFromUp 0.5s ease-in;
}

@keyframes moveFromUp {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0vh);
    }     
}

.card_btns .share_btn, .card_btns .user_photo{
    height: unset !important;
}


@media only screen and (max-width: $breakPointSmall){
    .card_cnt{
        @include mainCard;
    }

    .like_count, .comment_count, .ubication{
        font-size: smaller;
    }
}