.card_cnt{
    @include mainCard;
    @include mainRadius_all;
    display: flex;
    flex-direction: column;   
    background-color: $colorHeaderActive;
}

.card_img{
    background-color: $colorGrey;
    width: 100%;
    height: 100%;
    position: relative;
}

.card_img a{
    display: contents;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.like_count, .comment_count{
    @include mainRadius_all;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1% 3%;
    margin: 1%;
    color: $colorWhite;
    font-size: x-small;
    background-color: $colorDarkOpacity;
    backdrop-filter: blur( 0.7rem );
    -webkit-backdrop-filter: blur( 0.7rem );
}

.comment_count{
    left: unset;
    right:0;
}

.like_count i, .comment_count i{
    margin-right: 0.5rem;
    color: $colorWhiteOpacity;
}

.card_txt{
    @include mainRadius_top;
    width: 100%;
    background-color:$colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 1%;
}

.card_txt h2{
    width: auto;
    color: $colorDark;
    font-size: smaller;
    font-weight: 300;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.card_txt h1{
    width: 90%;
    background-color: inherit;
    color: $colorDark;
    font-weight: 500;
    font-size: medium;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    justify-content: flex-start;
    margin: 0 5%;
    line-height: 1.3rem;
}

// USER CARD
.card_txt .user_cnt{
    width: 100%;
    margin: 2% 0;
}

.card_txt .user_photo{
    width: 1.1rem;
    height: 1.1rem;
}

.card_txt .user_name{
    margin: 0;
    font-size: x-small;
    font-weight: 400;
    color: $colorGrey;
}


@media only screen and (max-width: $breakPointSmall){
    .card_cnt{
        @include mainCard;
    }

    .like_count, .comment_count{
        font-size: smaller;
    }
}