.card_btns, .reaction_btns, .gestion_btns{
    z-index: 1;
    background-color:$colorWhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
}

.card_btns{
    @include mainRadius_all;
}

.card_btns button{
    color: $colorGreyHeader;
}

.reaction_btns, .gestion_btns{
    @include mainRadius_bottom;
    width: 50%;
}

.reaction_btns{
    justify-content: flex-start;
}

.reaction_btns button{
    margin-left: 15%;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 50%;
}

.gestion_btns{
    justify-content: flex-end;
}

.gestion_btns button{
    margin-right: 15%;
}

.like_btn, .fav_btn, .edit_btn, .delete_btn, .comment_btn {
    background: none;
    border: none;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.edit_btn, .delete_btn{
    height: 2rem;
    width: 2rem;
}

.like_btn:hover{
    color: $colorLike;
}

.like_btn:active{
    color: $colorLikeActive;
}

.fav_btn:hover{
    color: $colorFav;
}

.fav_btn:active{
    color: $colorFavActive;
}

.comment_btn:hover{
    color:$colorComment;

    &:active{
        color:$colorCommentActive;
    }
}


.edit_btn:hover, .delete_btn:hover{
    color:$colorDarkOpacityLess;
    background-color: $colorDarkOpacity;
}

.edit_btn:active, .delete_btn:active{
    color:$colorGreyOpacity;
}

.favorited{
    color: $colorFavActive !important;
    &:hover{
        color: $colorFav !important;
    }
    &:active{
        color: $colorFavActive !important;        
    }
}

.liked{
    color: $colorLikeActive !important;
    &:hover{
        color: $colorLike !important;
    }
    &:active{
        color: $colorLikeActive !important;
    }
}

.commented{
    color:$colorCommentActive !important;

    &:hover{
        color:$colorComment !important;
    }
    &:active{
        color:$colorCommentActive !important;
    }
}

@media only screen and (max-width: $breakPointSmall){
    .card_btns, .reaction_btns, .gestion_btns{
        height: 3rem;
    }
    
    .reaction_btns button{
        margin-left: 20%;
    }

    .gestion_btns button{
        margin-right: 20%;
    }
    
    .like_btn, .fav_btn, .edit_btn, .delete_btn, .comment_btn {
        font-size: 1.3rem;
        width: 2.4rem;
        height: 2.4rem;
    }
    
    .edit_btn, .delete_btn{
        height: 2.5rem;
        width: 2.5rem;
    }    
}