.create_pg{
    @include flexCenterRow;
}

.create_pg .form_body{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // padding-bottom: 7vh;
}

.preview_cnt{
    @include inputRadius;
    width: 65%;
    height: 90%;
    margin-left: 3%;
    background-color: $colorGrey;
}

.preview_cnt img{
    @include mainRadius_all;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.create_pg .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100% !important;
}

.create_pg .form_body input{
    @include inputRadius;
    border: none;
    outline: none;
    background: none;
    width: 55%;
    margin: 0.5rem 0;
    height: 3rem;
    padding: 0 1.5rem;
    background-color: $colorWhite;
}

.create_pg input:hover, .create_pg textarea:hover{
    background-color: $colorWhiteOpacity !important;
}

.create_pg input:focus, .create_pg textarea:focus{
    background-color: $colorWhite !important;
}

.create_pg textarea{
    @include inputRadius;
    font-family: "IBM Plex Sans Thai", sans-serif;
    outline: none;
    border: none;
    width: 55%;
    min-width: 55%;
    max-width: 55%;
    min-height: 3rem;
    max-height: 7rem;
    margin: 0.5rem 0;
    padding: 1rem 1.5rem;
    background-color: $colorWhite;
} 

.create_pg .form_body button{
    @include inputRadius;
    position: relative;
    background: none;
    border: none;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin-top: 1rem;
    padding: 0.5rem 1.3rem;
    background-color: $colorSecondary;
    color: $colorWhite;
    font-size: small;
    font-weight: 400;
}

.create_pg .form_body button:hover{
    background-color: $colorSecondaryHover;
}

.create_pg .form_body button:active{
    background-color: $colorSecondaryActive;
}

.create_pg .mainBottom_btn {
    width: 30%;
    background-color: $colorPrimary !important; 
    color: $colorGreyHeader !important;

        &:hover{
            background-color:$colorPrimary !important;
            color: $colorSecondaryHover !important;
        }
        &:active{
            color: $colorSecondaryActive !important;
        }

        @media only screen and (max-width: $breakPointSmall){
            width: 100%;
            &:hover{
                background-color: $colorSecondaryHover !important;
                color: $colorPrimary !important;
            }
            &:active{
                background-color: $colorSecondaryActive !important;
            }
        }
}

@media only screen and (max-width: $breakPointSmall){

    .create_pg .form_body{
        border-radius: 0rem;
        flex-direction: column;
        top: 10vh;
        height: 80vh;
        position: absolute;
        padding-bottom: unset;
    }

    .create_pg .form_body input{
        width: 65%;
    }

    .create_pg .form_body .inputs{
        padding-bottom: 7vh;
    }

    .preview_cnt{
        margin: 8% 0 0 0;
        width: 45%;
        height: 45%;
        position: relative;
    }

    .create_pg textarea{
        width: 65% !important;
        max-width: 65% !important;
        min-width: 65% !important;
    }
}
