.create_pg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_pg .form_body{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.preview_cnt{
    width: 65%;
    height: 90%;
    margin-left: 3%;
    background-color: $colorSecundary;
    border-radius: 1rem;
}

.preview_cnt img{
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.create_pg .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100% !important;
}

.create_pg .form_body input{
    border: none;
    outline: none;
    background: none;
    width: 55%;
    margin: 0.5rem 0;
    height: 3rem;
    border-radius: 1.2rem;
    padding: 0 1.5rem;
    background-color: $colorWhite;
}

.create_pg input:hover, .create_pg textarea:hover{
    background-color: $colorWhiteOpacity !important;
}

.create_pg input:focus, .create_pg textarea:focus{
    background-color: $colorWhite !important;
}

.create_pg textarea{
    font-family: "IBM Plex Sans Thai", sans-serif;
    outline: none;
    border: none;
    width: 55%;
    min-width: 55%;
    max-width: 55%;
    min-height: 3rem;
    max-height: 7rem;
    margin: 0.5rem 0;
    border-radius: 1.2rem;
    padding: 1rem 1.5rem;
    background-color: $colorWhite;
} 

.create_pg .form_body button{
    position: relative;
    background: none;
    border: none;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin-top: 1rem;
    padding: 0.5rem 1.3rem;
    border-radius: 1.5rem;
    background-color: $colorSecundary;
    color: $colorWhite;
    font-size: small;
    font-weight: 400;
}

.create_pg .form_body button:hover{
    background-color: $colorSecundaryHover;
}

.create_pg .form_body button:active{
    background-color: $colorSecundaryActive;
}

@media only screen and (max-width: $breakPointSmall){

    .create_pg .form_body{
        border-radius: 0rem;
        flex-direction: column;
        top: 10vh;
        height: 80vh;
        position: absolute;
    }

    .create_pg .form_body input{
        width: 65%;
    }

    .preview_cnt{
        margin: 8% 0 0 0;
        width: 45%;
        height: 45%;
        position: relative;
    }

    .create_pg textarea{
        width: 65% !important;
        max-width: 65% !important;
        min-width: 65% !important;
    }
}
