.details_pg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_photo_mobile{
    display: none;
}

.details_cnt{
    // width: 85%;
    // justify-content: space-between;
    max-width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    filter:drop-shadow(0rem .1rem .15rem $colorPrimaryLightOpacity);
    background:none;
}

.details_photo{
    // width: 60%;
    height: 100%;
    background-color: $colorAlmostGrey;
    border-radius: 1rem;
    position: relative;
}

.details_photo img, .details_photo_mobile img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    // object-fit: cover;
    object-fit:scale-down;
}

.details_info{
    position: relative;
    width: 35%;
    height: 100%;
    border-radius: 1rem;
}

.details_info .form_header{
    background-color: $colorTertiary;
}

.details_info .form_header .back_btn:hover{
    background-color: $colorTertiaryHover;
}

.details_info .form_header .back_btn:active{
    background-color: $colorTertiaryActive;
}

.details_body{
    width: 100%;
    height: 83%;
    background-color: $colorAlmostWhite;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.details_body p{
    margin: 0;
    padding: 4%;
    color: $colorAlmostDark;
    font-size: smaller;
}

.details_body .like_count{
    color: $colorAlmostWhiteOpacityLess;
    position: relative;
}

.details_body .reaction_btns{
    background-color: $colorTertiary;
    color: $colorNavbar !important;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.details_body .reaction_btns button{
    color: $colorAlmostWhiteOpacity;
}

.details_body .reaction_btns button:hover{
    background-color: $colorAlmostWhiteOpacity;
    color: $colorTertiary;
}

.details_body .reaction_btns button:active{
    background-color: $colorAlmostWhiteOpacityLess;
}

@media only screen and (max-width: $breakPointSmall){

    .details_cnt{
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0;
        max-width: unset;
    }
    
    .details_photo{
        display: none;
    }

    .details_photo_mobile{
        display: flex;
        width: 100vw;
        height: unset;
        margin: 0 auto;
        position: relative;
    }

    .details_photo_mobile img{
        border-radius: 0rem;
    }

    .details_info{
        width: 100%;
        top: 10vh;
    }

    .details_body{
        border-radius: 0;
    }

    .details_body p{
        font-size: medium;
    }

    .details_body .reaction_btns{
        position: fixed;
        bottom: 0;
        border-radius: 0% !important;
        font-size: medium;
    }

    .details_body .reaction_btns button{
        font-size: medium;
    }
}