.form_cnt{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    filter:drop-shadow(0rem .1rem .15rem $colorShadowAlmostDark);
}

.form_header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: $colorFormPrimaryDark;
    position: relative;
}

.back_cnt{
    height: 100%;
    display: flex;
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_btn{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background:none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorAlmostWhite;
    font-size: large;
}

.back_btn:hover{
    cursor: pointer;
    background-color: $colorDarkHover;
}

.back_btn:active{
    background-color: $colorDarkActive;
}

.form_header h1{
    background: none;
    color: $colorAlmostWhite;
    font-size: medium;
    display: flex;
    align-items: center;
}

.form_body{
    width: 100%;
    height: 100%;
    background-color: $colorFormPrimary;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form_body .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form_body input{
    border: none;
    outline: none;
    width: 55%;
    margin: 0.5rem 0;
    height: 3rem;
    border-radius: 1.2rem;
    padding: 0 1.5rem;
    background-color: $colorAlmostWhite;
}

.form_body input:hover{
    background-color: $colorFormInputHover;
}

.form_body input:focus{
    background-color: $colorAlmostWhite;
}

.form_body button{
    position: relative;
    background: none;
    border: none;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin-top: 1rem;
    padding: 0.5rem 1.3rem;
    border-radius: 1.5rem;
    background-color: $colorFormPrimaryDark;
    color: $colorAlmostWhite;
    font-size: small;
    font-weight: 400;
}

.form_body button:hover{
    background-color: $colorFormSecundary;
}

.form_body button:active{
    background-color: $colorFormSecundaryLight;
}

@media only screen and (max-width: $breakPointSmall){
    
    .form_cnt{
        width: 100%;
        border-radius: 0rem;
    }

    .form_header{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10vh;
        border-radius: 0rem;
        position: relative;
    }

    .form_body{
        border-radius: 0rem;
    }

    .form_body input{
        width: 65%;
    }
}