.list_cnt{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: unset;
    flex-wrap: wrap;
    overflow-y: auto;

    // animation: moveToRight 1s ease-in-out;
    // animation-delay: 10ms;
}

// @keyframes moveToRight {
// 0% {
//     transform: translateX(-100vw);
// }
// 100% {
//     transform: translateX(0vw);
// }
// }

@media only screen and (max-width: $breakPointSmall){
    .list_cnt{
        margin-top: 3%;
        padding-bottom: 10vh;
    }
}