.login_pg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newUser_btn{
    height: 7vh;
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
}

@media only screen and (max-width: $breakPointSmall){

.newUser_btn{
    border-radius: 0 !important;
}
}