.logo_cnt{
    height: 100%;
}

.logo{
    background-color: inherit;
    color: $colorWhite;
    font-size: larger;
    font-weight: 400;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0 1.8rem 0 2.3rem;
    font-weight: 200;
}

.logo:hover{
    color:$colorHeaderDark;
}

@media only screen and (max-width: $breakPointSmall){

    .logo_cnt{
        width: 100%;
    }
    .logo{
        justify-content: center;
        font-weight: 100;
        margin: 0;
    }
}