.logo_cnt{
    width: 20%;
    height: 100%;
}

.logo{
    background-color: inherit;
    color: #F9F9F9;
    font-size: larger;
    font-weight: 400;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0.5rem 0 1.5rem;
}

.logo:hover{
    color:#3b7dbb;
}

@media only screen and (max-width: 500px){

    .logo_cnt{
        width: 100%;
    }
    .logo{
        justify-content: center;
        font-weight: 100;
        margin: 0;
    }
}