.menu_cnt{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.menu_cnt button{
    background: none;
    border: none;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin-left: 0.5rem;
    padding: 0.5rem 1.3rem;
    border-radius: 1.5rem;
    color: $colorAlmostWhite;
    font-size: small;
    font-weight: 400;
    white-space:nowrap;
}

.menu_cnt button:hover{
    background-color: $colorSecondary;
    cursor: pointer;
}

.menu_cnt button:active{
    background-color: $colorSecondaryLight;
}

.nav_icon{
    margin-right: 0.5rem;
    display: none;
}

// USER CARD
.menu_cnt .user_cnt{
    border-radius: 1.5rem;
    padding: 0.5rem 1.3rem 0.5rem 0rem;
}

.menu_cnt .user_cnt:hover{
    cursor: pointer;
    background-color: $colorSecondary;
}
    
.menu_cnt .user_cnt:active{
    background-color: $colorSecondaryLight;
}

.menu_cnt .user_photo{
    background-color: $colorPrimaryLight;
}