.menu_cnt{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.menu_cnt button{
    @include inputRadius;
    background: none;
    border: none;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin-left: 0.5rem;
    padding: 0.5rem 1.3rem;
    color: $colorWhite;
    font-size: small;
    font-weight: 400;
    white-space:nowrap;
}

.menu_cnt button:hover{
    background-color: $colorHeaderHover;
    cursor: pointer;
}

.menu_cnt button:active{
    background-color: $colorHeaderActive;
}

.nav_icon{
    margin-right: 0.5rem;
    display: none;
    // opacity: 0.8;
    // &:focus, &:active{
    //     opacity: 1;
    // }
}

// USER CARD
.menu_cnt .user_cnt{
    @include inputRadius;
    padding: 0.5rem 1.3rem 0.5rem 0rem;
}

.menu_cnt .user_cnt:hover{
    cursor: pointer;
    background-color: $colorHeaderHover;
}
    
.menu_cnt .user_cnt:active{
    background-color: $colorHeaderActive;
}

.menu_cnt .user_photo{
    background-color: $colorGrey;
}