@import "./logo.scss";
@import "./menu.scss";
@import "./searcher.scss";


.navbar_cnt{
    z-index: 5;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;

    background-color: $colorHeaderOpacity;
    backdrop-filter: blur( 0.7rem );
    -webkit-backdrop-filter: blur( 0.7rem );
    border: 0.01rem solid $colorHeader;
}

.profile_btn, .search_bottom, .home_btn{
    display: none;
}

@media only screen and (max-width: $breakPointSmall){

    // NOMÉS HAURIA DE SER VISIBLE A LA HOME PAGE
    .navbar_cnt{
        display: none;
    }    
    

    .navbar_cnt{
        z-index: 2;
        filter:drop-shadow(0.0rem .1rem .05rem $colorDark);
    }

}