.searcher{
    @include flexCenterRow;
    z-index: 1;
    width: 100%;
    position: relative;
}

.searcher input{
    @include inputRadius;
    width: 95%;
    height: 6vh;
    min-width: 10rem;
    position: relative;
    border: none;
    color: $colorHeader;
    padding: 0 4rem 0 1.5rem;
    font-size: smaller;
    outline: none;
    background-color: $colorWhiteOpacityMore;
    --webkit-backdrop-filter: blur( 0.7rem );
}

.searcher input::placeholder{
    color: $colorHeader;
}

input:focus::placeholder{
    color: $colorGrey !important;
}

.searcher input:hover{
    background-color: $colorWhiteOpacity;   
    cursor: pointer;
}

.searcher input:active, .searcher input:focus{
    background-color: $colorWhite;
}

.searcher input:focus{
    color: $colorDark;
    cursor: unset;
}

.searcher button{
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2%;
}

.searcher button i{
    background:none;
    color: $colorHeader ;
}