
.slide_in{
    animation: moveFromLeft 0.5s ease-in;
}
@keyframes moveFromLeft {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0vw);
    } 
}
// WITH OPACITY!
@keyframes moveFromLeft_opacity {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    } 
}

.slide_in_slow{
    animation: moveFromLeft 1s ease-in;
}

// WITH OPACITY!
@keyframes moveFromLeft_opacity {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    } 
}


.slide_out{
    animation: moveFromRight 0.5s ease-in;
}
@keyframes moveFromRight {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-100vw);
    }     
}

.slide_up{
    animation: moveFromDown 0.5s ease-in;
}
@keyframes moveFromDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0vh);
    }     
}

.scale{
    transform: scale;
    -webkit-transform: scale(1.1);
    transition: 1.5s all ease;
}

.rotate{
    transition: 1.5s all ease;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
}