.full_blur{
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-color: $colorPrimaryOpacity;
    backdrop-filter: blur( 0.7rem );
    -webkit-backdrop-filter: blur( 0.7rem );
    border: 0.01rem solid $colorAlmostWhiteOpacityMore;
}