.hidden{
    display: none;
}

.update_pg{
    // display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;
    position: fixed;
    background-color:$colorWhite;
    width: 100%;
    height: 90vh;
    // top: 10vh;    
}

.full_blur{
    background-color: $colorPrimary;
    position: fixed;
    width: 100%;
}

.update_box{
    width: 60%;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
}

.inputs_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 78vh;
}

.inputs_box label{
    @include inputRadius;
    width: 5rem;
    font-size: small;
    margin-top: 1rem;
    color: $colorSecondary;
    padding: 1% 2%;
    font-weight: 400;
    width: 100%;
}

.inputs_box textarea, .inputs_box input, button{
    @include mainRadius_all;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    border: none;
    outline: none;
    margin-top: 0.3rem;
}

.inputs_box textarea, .inputs_box input{
    padding: 1% 2%;
    font-size: medium;
    width: 100% !important;
    background: none;
    color: $colorDark;
    
    &::placeholder{
        color: $colorGrey;
        font-weight: 400;
        font-size: medium;
    }

    &:hover{
        color: $colorDarkOpacityLess;
        transition: 0.3s all;
    }
    &:focus{
        color: $colorHeaderDark;
    }
}

.title_input{
    display: flex;
    height: 2rem;
    font-size: xx-large !important;
    font-weight: 600;
}

.inputs_box textarea{
    padding-top: 2%;
    width: initial;
    max-width: 100%;
    height: 10rem;  
    min-height: 10rem;
    max-height: 15rem;
    font-size: medium;  
    min-width: inherit;
}

.imgurl_input{
    height: 2rem;
    font-size: small !important;
    font-weight: 300 !important;  
}

.update_btns{
    display: flex;
    width: 100%;
    justify-content: center;
    // position: absolute;
    // bottom: 0;
}

.update_btn, .cancel_btn{
    @include inputRadius;
    margin: 1.5rem 0.5rem !important;
    padding: 0.5rem 1.3rem;
    color: $colorWhite;
    font-size: small;
    font-weight: 400; 
    width: 10rem;   
}

.update_btn{
    background-color: $colorSecondary !important;
    &:hover{
        background-color: $colorSecondaryHover !important;
    }
    &:active{
        background-color: $colorSecondaryActive !important;
    }
}

.cancel_btn{
    background-color: $colorGreyOpacity !important;
    color: $colorWhite;
    &:hover{
        background-color: $colorGreyHeader !important;
    }
    &:active{
        background-color: $colorGreyHeaderHover!important;
    }
}

@media only screen and (max-width: $breakPointSmall){
    .update_pg{
        position: fixed;
        top: 10vh !important;
        bottom: 10vh !important; 
        height: 80vh !important;
    } 

    .full_blur{
        position: fixed;
    }

    .update_box{
        width: 90%;
        height: 70vh;
    }
}