$colorAlmostDark:#242424;
$colorAlmostDarkOpacity: #2424241a;
$colorAlmostDarkOpacityLess: #24242494;
$colorAlmostGrey: #E1E1E1;
$colorAlmostWhite:#F9F9F9;
$colorAlmostWhiteOpacity: #f9f9f979;
$colorAlmostWhiteOpacityLess: #f9f9f99d;
$colorAlmostWhiteOpacityMore: #f9f9f92f;

$colorPrimary: #303030;
$colorPrimaryOpacity: #303030bb;
$colorPrimaryLight:#494949;
$colorPrimaryLightOpacity:#49494977;
$colorSecondary: #316da5;
$colorSecondaryActive: #3b7dbb;
$colorTertiary: #267053;
$colorTertiaryHover: #358565;
$colorTertiaryActive: #5e9c83;

$colorNavbar:#676767;
$colorFormPrimary: #153f66;
$colorFormPrimaryDark:#0f365a;
$colorFormSecundary:#0a803b;
$colorFormSecundaryActive:#108a43;
$colorFormInputHover:#d9e9f7;
$colorFormHeaderHover:#0a4780;
$colorFormHeaderActive:#155692;
$colorCreateInputHover:#7198bd;

$colorCardButton: #73877F;
$colorFav: #FCA641;
$colorFavActive: #fcb462;
$colorLike: #EE3561;
$colorLikeActive:#F1557A;

$shadows: filter drop-shadow(0rem .1rem .15rem $colorPrimaryLightOpacity);

$breakPointSmall: 500px;    
$breakPontMedium: 750px;
$breakPontLarge: 1000px;

@mixin displayFlexCenter {
    background-color: #D30D3C;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textBasic{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@mixin iconsBasic {
    background: none;
    border: none;    
    cursor: pointer;
}

@mixin buttonsHoop {
    background: none;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 50%;
    border-color: none;
    cursor: pointer;
}

@mixin formButton {
    border:none;
    border-radius: 25%;
    border-color: $colorBoxPrimaryLight;
    color: $colorCardPrimary;
}

@mixin menuButton {
    background: $colorPrimaryLight;
    border: none;
    border-radius: 50%;
    color: $colorCardPrimary;
    font-weight: 200;
    margin: 0 1.7rem;
    padding: 1rem 1.5rem;

    &menuButton:hover{
        background-color: $colorSecondary;
        cursor: pointer;
    }

    &menuButton:active{
        background-color: $colorSecondaryActive;
    }
}