$colorAlmostDark:#242424;
$colorShadowAlmostDark:#2424246e;
$colorAlmostGrey: #E1E1E1;
$colorAlmostWhite:#F9F9F9;
$colorBrokenWhite:#d1d3d4;

$colorPrimary: #303030;
$colorPrimaryOpacity: #303030bb;
$colorPrimaryLight:#494949;
$colorPrimaryLightOpacity:#49494977;
$colorSecondary: #316da5;
$colorSecondaryLight: #3b7dbb;
$colorTertiary: #73877F;
$colorTertiaryHover: #869991;
$colorTertiaryActive: #81948d;

// $colorPrimaryPink:#e61c4b;
// $colorBoxPrimaryLight:#F22858;

$colorFormPrimary: #153f66;
$colorFormPrimaryDark:#0f365a;
$colorFormSecundary:#0a803b;
$colorFormSecundaryLight:#108a43;
$colorFormInputHover:#d9e9f7;
$colorDarkHover:#0a4780;
$colorDarkActive:#155692;

$colorCardSecondary:#4ACC95;
$colorCardButton:#3e89b4;
$colorFav: #FCA641;
$colorFavLight: #fcb462;
$colorLike: #EE3561;
$colorLikeLight:#F1557A;

$shadows: filter drop-shadow(2px 2px 5px rgba(2,2,0,0.4));

$breakPointSmall: 500px;    
$breakPontMedium: 750px;
$breakPontLarge: 1000px;

@mixin displayFlexCenter {
    background-color: #D30D3C;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textBasic{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@mixin iconsBasic {
    background: none;
    border: none;    
    cursor: pointer;
}

@mixin buttonsHoop {
    background: none;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 50%;
    border-color: none;
    cursor: pointer;
}

@mixin formButton {
    border:none;
    border-radius: 25%;
    border-color: $colorBoxPrimaryLight;
    color: $colorCardPrimary;
}

@mixin menuButton {
    background: $colorPrimaryLight;
    border: none;
    border-radius: 50%;
    color: $colorCardPrimary;
    font-weight: 200;
    margin: 0 1.7rem;
    padding: 1rem 1.5rem;

    &menuButton:hover{
        background-color: $colorSecondary;
        cursor: pointer;
    }

    &menuButton:active{
        background-color: $colorSecondaryLight;
    }
}