.list_cnt{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: unset;
    flex-wrap: wrap;
    overflow-y: auto;
}

// .list_cnt .searcher{
//     display: none;
// }


@media only screen and (max-width: $breakPointSmall){
    .list_cnt{
        margin-top: 3%;
        padding-bottom: 10vh;
    }
}