.list_cnt{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: unset;
    flex-wrap: wrap;
    overflow-y: auto;

    @media only screen and (max-width: $breakPointSmall){
        margin-top: 3%;
        padding-bottom: 10vh;
    }

    .card_img img{
        @media only screen and (max-width: $breakPointSmall){
            max-height: 23rem;
            object-fit: contain;
        }
    }
}