
.searcher_list_pg{
    z-index: 1;
    @include flexCenterRow;    
    align-items: flex-start;
    background-color: $colorPrimary;
    width: 100vw;
    height: 90vh;    
    position: fixed;
    top: 10vh; 
    right: 0; 
    overflow-y: auto;
    display: flex;
}

//BOX

.search_box{
    width: 75%;
    display: flex;    
    flex-wrap: wrap;
    overflow: auto;
}

// BACK BUTTON

.searcher_list_pg .back_cnt{
    z-index: 2;
    position: fixed !important;
    top: 13vh;
    left: 2%;
    height: 2rem;

    @media only screen and (max-width: $breakPointSmall){
        display: block;        
        top: 3vh;
        left: 1rem;
    }
}

.searcher_list_pg .back_cnt button{
    color: $colorDarkOpacityLess;

    &:hover{
        background-color: $colorHeader;
    }

    &:active{
        background-color: $colorHeaderActive;
    }

    @media only screen and (min-width: $breakPointSmall){
        position: relative;
        color: $colorWhite;
    }
}

.searcher_list_pg .back_cnt button i{
    font-size: large !important;
}

.searcher_list_pg .back_cnt button:hover i{
    color: $colorWhite !important;
}

// RESULTS

.results_info{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: small;
    color: $colorHeader;
    margin-top: 2%;

    @media only screen and (max-width: $breakPointSmall){
        font-size: medium;;
    }
}

.searcher_list_pg .user_cnt, 
.searcher_list_pg .card_btns, 
.searcher_list_pg .card_img .like_count, 
.searcher_list_pg .card_img .comment_count, 
.searcher_list_pg .card_img .ubication{
    display: none;
}

.searcher_list_pg .card_cnt{
    @include searcherCard;    
    background: none;
    height: fit-content !important;

    @media only screen and (max-width: $breakPointSmall){
        @include searcherMobileCard;
    }
}

.searcher_list_pg .card_txt{
    background-color: inherit;
}

.searcher_list_pg h1{
    color: $colorDarkOpacityLess !important;
    font-size: small !important;
    display: flex;
    justify-content: center !important;
    font-weight: 400;
    padding-top: 3%;
    width: 100%;

    @media only screen and (max-width: $breakPointSmall){
        font-size: x-small;
    }
}

.searcher_list_pg .card_img{
    @include detailRadius;
    background-color: inherit;
    height: unset !important;
}

.searcher_list_pg img{
    @include detailRadius;
}