.hidden{
    display: none;
}

.update_pg{
    z-index: 3;
    position: fixed;
    background-color:$colorWhite;
    width: 100vw;
    height: 90vh;
    font-family: 'Quicksand', sans-serif;
    top: 10vh,
}

.update_pg .form_header{
    display: none;
    
    @media only screen and (max-width: $breakPointSmall){
        display: flex;
    }
}

.update_box{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.inputs_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.update_input_box{
    width: 100%;
    height: auto;
    padding: 1% 2%;
}

.title_box{
    margin-top: 2%
}

.inputs_box label{
    @include inputRadius;
    margin-bottom: 1%;
    display: flex;
    width: 5rem;
    font-size: small;
    color: $colorSecondary;
    font-weight: 400;
    width: 100%;
}

.inputs_box textarea, .inputs_box input, button{
    @include mainRadius_all;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
}

.inputs_box textarea, .inputs_box input{
    font-size: medium;
    width: 100% !important;
    background: none;
    color: $colorDark;
    padding: 0;
    
    &::placeholder{
        color: $colorGrey;
        font-weight: 400;
        font-size: medium;
    }
    &:hover::placeholder, &:focus::placeholder{
        color: $colorDarkOpacityLess !important;
        transition: 0.3s all;
    }

    &:hover{
        color: $colorHeader;
        transition: 0.3s all;
        cursor: text;
    }
    &:focus{
        color: $colorHeaderDark;
    }
}

.title_input{
    display: flex;
    height: 2rem;
    font-size: xx-large !important;
    font-weight: 600;
}

.inputs_box textarea{
    padding: 0;
    width: initial;
    max-width: 100%;
    height: 100%;  
    min-height: 10rem;
    max-height: 15rem;
    font-size: medium;  
    min-width: inherit;
}

.imgurl_input{
    height: 2rem;
    font-size: small !important;
    font-weight: 300 !important;  
}

.reduced{
    flex-direction: column;
    align-items: unset !important;
}

.reduced img{
    margin: 0 !important;
    -webkit-box-reflect: below 0% linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.0), rgba(0,0,0,0.0),rgba(0, 0, 0, 0.267));
    transition: 1s all ease-out;

    // &:hover{
    //     width: 15rem;
    //     transition: 1.5s all ease-in;
    // }

    @media only screen and (max-width: $breakPointSmall){
        &:hover{
            width: 100%;
            transition: 1.5s all ease-in;
        }
    }
}

.reduced input{
    width: 10rem !important;
    text-overflow: ellipsis !important;
    // text-align: center !important;
    transition: 1s all;

    &:hover, &:active, &:focus{
        width: 100% !important;
        transition: 1s all;
    }
}

.preview_and_url{
    display: flex;
    align-items: center;
    width: 100%;
}

.preview_and_url img{
    width: 10rem;
    height: auto;
    margin-right: 2%;
    @include detailRadius;
}

// .create img{
//     width: 10rem !important;
// }

.update_btns{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 15%;
}

.update_btn, .cancel_btn{
    @include inputRadius;
    margin: 1.5rem 0.5rem !important;
    padding: 0.5rem 1.3rem;
    color: $colorWhite;
    font-size: small;
    font-weight: 400; 
    width: 7rem; 
}

.update_btn{
    background-color: $colorSecondary !important;
    &:hover{
        background-color: $colorSecondaryHover !important;
    }
    &:active{
        background-color: $colorSecondaryActive !important;
    }
}

.cancel_btn{
    background-color: $colorGreyOpacity !important;
    color: $colorWhite;
    &:hover{
        background-color: $colorGreyHeader !important;
    }
    &:active{
        background-color: $colorGreyHeaderHover!important;
    }
}

.close_btn{
    position: fixed;
    top: 12vh;
    right: 5vw;
    background: none;
    border: none;
    color: $colorGrey;
    font-size: large;
    display: flex;
    align-items: center;
    &:hover{
        color: $colorHeaderHover;
    }
    &:active{
        color:$colorHeaderActive;
    }
}

.close_txt{
    font-size: x-small;
    margin-left: .5rem;
}

@media only screen and (max-width: $breakPointSmall){
    .update_pg{
        position: fixed;
        top: 10vh !important;
        bottom: 10vh !important; 
        height: 80vh !important;
    } 

    .update_box{
        width: 92%;
    }

    .inputs_box textarea{  
        min-height: 15rem;
        max-height: 15rem;
    }

    .update_btns{
        width: 100%;
    }
}