@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.logo_cnt {
  height: 100%;
}

.logo {
  background-color: inherit;
  color: #F9F9F9;
  font-size: larger;
  font-weight: 400;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0 1.8rem 0 2.3rem;
  font-weight: 200;
}

.logo:hover {
  color: #056344;
}

@media only screen and (max-width: 500px) {
  .logo_cnt {
    width: 100%;
  }
  .logo {
    justify-content: center;
    font-weight: 100;
    margin: 0;
  }
}
.menu_cnt {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.menu_cnt button {
  border-radius: 1.5rem;
  background: none;
  border: none;
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin-left: 0.5rem;
  padding: 0.5rem 1.3rem;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
  white-space: nowrap;
}

.menu_cnt button:hover {
  background-color: #25a77b;
  cursor: pointer;
}

.menu_cnt button:active {
  background-color: #36af87;
}

.nav_icon {
  margin-right: 0.5rem;
  display: none;
}

.menu_cnt .user_cnt {
  border-radius: 1.5rem;
  padding: 0.5rem 1.3rem 0.5rem 0rem;
}

.menu_cnt .user_cnt:hover {
  cursor: pointer;
  background-color: #25a77b;
}

.menu_cnt .user_cnt:active {
  background-color: #36af87;
}

.menu_cnt .user_photo {
  background-color: #d3d3d3;
}

.searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  position: relative;
}

.searcher input {
  border-radius: 1.5rem;
  width: 95%;
  height: 6vh;
  min-width: 10rem;
  position: relative;
  border: none;
  color: #289772;
  padding: 0 4rem 0 1.5rem;
  font-size: smaller;
  outline: none;
  background-color: rgba(249, 249, 249, 0.1843137255);
  --webkit-backdrop-filter: blur( 0.7rem );
}

.searcher input::placeholder {
  color: #289772;
}

input:focus::placeholder {
  color: #d3d3d3 !important;
}

.searcher input:hover {
  background-color: rgba(249, 249, 249, 0.4745098039);
  cursor: pointer;
}

.searcher input:active, .searcher input:focus {
  background-color: #F9F9F9;
}

.searcher input:focus {
  color: #242424;
  cursor: unset;
}

.searcher button {
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 2%;
}

.searcher button i {
  background: none;
  color: #289772;
}

.navbar_cnt {
  background-color: rgba(12, 136, 95, 0.863);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
  border: 0.01rem solid #289772;
  z-index: 5;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
}

.profile_btn, .search_bottom, .home_btn {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbar_cnt {
    display: none;
  }
  .navbar_cnt {
    z-index: 2;
    filter: drop-shadow(0rem 0.1rem 0.05rem #242424);
  }
}
.navbar_bottom {
  background-color: rgba(36, 36, 36, 0.5803921569);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
  border: 0.01rem solid rgba(36, 36, 36, 0.1019607843);
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.navbar_bottom .menu_cnt {
  display: contents;
}

.navbar_bottom button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none;
  height: 100%;
  width: 20%;
  color: #F9F9F9;
}

.navbar_bottom .nav_icon {
  display: flex;
  font-size: large;
  height: 60%;
  align-items: center;
  margin: 0;
}

.navbar_bottom .nav_name {
  height: 40%;
  display: flex;
  align-items: center;
  display: none;
}

.navbar_bottom button:hover {
  color: #F9F9F9;
  background-color: #25a77b;
}

.navbar_bottom button:active {
  background-color: #36af87;
}

.navbar_bottom .search_bottom {
  order: 2;
}

.navbar_bottom .create_btn {
  order: 3;
}

.navbar_bottom .create_btn .nav_icon {
  font-size: xx-large !important;
}

.navbar_bottom .login_btn {
  order: 4;
}

.navbar_bottom .home_btn {
  order: 1;
}

.navbar_bottom .profile_btn {
  order: 5;
}

.user_cnt {
  width: 100%;
}

.profile_btn .user_cnt {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.profile_btn .user_photo {
  font-size: large;
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.profile_btn .user_name {
  display: none;
}

@media only screen and (min-width: 500px) {
  .navbar_bottom {
    display: none;
  }
}
.navbarTopMobile_cnt {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbarTopMobile_cnt {
    background-color: rgba(12, 136, 95, 0.863);
    backdrop-filter: blur(0.7rem);
    -webkit-backdrop-filter: blur(0.7rem);
    border: 0.01rem solid #289772;
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
  }
}
.list_cnt {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: unset;
  flex-wrap: wrap;
  overflow-y: auto;
}

@media only screen and (max-width: 500px) {
  .list_cnt {
    margin-top: 3%;
    padding-bottom: 10vh;
  }
}
.card_cnt {
  width: 18%;
  margin: 1.5% 1%;
  filter: drop-shadow(0rem 0rem 0.2rem #d3d3d3);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  background-color: #36af87;
}
.card_cnt:hover {
  filter: drop-shadow(0rem 0rem 0.2rem rgb(190, 190, 190));
}
@media only screen and (max-width: 500px) {
  .card_cnt {
    width: 98%;
    height: 22rem;
    margin: 3% 1%;
    filter: drop-shadow(0rem 0.1rem 0.15rem rgba(36, 36, 36, 0.1019607843));
  }
}

.card_img {
  background-color: #d3d3d3;
  width: 100%;
  height: 100%;
  position: relative;
}

.card_img a {
  display: contents;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.like_count {
  border-radius: 0.4rem;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1% 3%;
  margin: 1%;
  color: #F9F9F9;
  font-size: x-small;
  background-color: rgba(36, 36, 36, 0.1019607843);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
}

.like_count i {
  margin-right: 0.5rem;
  color: rgba(249, 249, 249, 0.4745098039);
}

.card_txt {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  width: 100%;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 1%;
}

.card_txt h2 {
  width: auto;
  color: #242424;
  font-size: smaller;
  font-weight: 300;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.card_txt h1 {
  width: 90%;
  background-color: inherit;
  color: #242424;
  font-weight: 500;
  font-size: medium;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  justify-content: flex-start;
  margin: 0 5%;
  line-height: 1.3rem;
}

.card_txt .user_cnt {
  width: 100%;
  margin-top: 2%;
}

.card_txt .user_photo {
  width: 1.1rem;
  height: 1.1rem;
}

.card_txt .user_name {
  margin: 0;
  font-size: x-small;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  .card_cnt {
    width: 18%;
    margin: 1.5% 1%;
    filter: drop-shadow(0rem 0rem 0.2rem #d3d3d3);
  }
  .card_cnt:hover {
    filter: drop-shadow(0rem 0rem 0.2rem rgb(190, 190, 190));
  }
}
@media only screen and (max-width: 500px) and (max-width: 500px) {
  .card_cnt {
    width: 98%;
    height: 22rem;
    margin: 3% 1%;
    filter: drop-shadow(0rem 0.1rem 0.15rem rgba(36, 36, 36, 0.1019607843));
  }
}
@media only screen and (max-width: 500px) {
  .like_count {
    font-size: smaller;
  }
}
.card_btns, .reaction_btns, .gestion_btns {
  z-index: 1;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
}

.card_btns {
  border-radius: 0.4rem;
}

.card_btns button {
  color: #a8a8a8;
}

.reaction_btns, .gestion_btns {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  width: 50%;
}

.reaction_btns {
  justify-content: flex-start;
}

.reaction_btns button {
  margin-left: 15%;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 50%;
}

.gestion_btns {
  justify-content: flex-end;
}

.gestion_btns button {
  margin-right: 15%;
}

.like_btn, .fav_btn, .edit_btn, .delete_btn, .comment_btn {
  background: none;
  border: none;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.edit_btn, .delete_btn {
  height: 2rem;
  width: 2rem;
}

.like_btn:hover {
  color: #EE3561;
}

.like_btn:active {
  color: #F1557A;
}

.fav_btn:hover {
  color: #FCA641;
}

.fav_btn:active {
  color: #fcb462;
}

.comment_btn:hover {
  color: #416dfc;
}
.comment_btn:hover:active {
  color: #5d83ff;
}

.edit_btn:hover, .delete_btn:hover {
  color: rgba(36, 36, 36, 0.5803921569);
  background-color: rgba(36, 36, 36, 0.1019607843);
}

.edit_btn:active, .delete_btn:active {
  color: rgba(87, 87, 87, 0.5490196078);
}

.favorited {
  color: #fcb462 !important;
}
.favorited:hover {
  color: #FCA641 !important;
}
.favorited:active {
  color: #fcb462 !important;
}

.liked {
  color: #F1557A !important;
}
.liked:hover {
  color: #EE3561 !important;
}
.liked:active {
  color: #F1557A !important;
}

.commented {
  color: #5d83ff !important;
}
.commented:hover {
  color: #416dfc !important;
}
.commented:active {
  color: #5d83ff !important;
}

@media only screen and (max-width: 500px) {
  .card_btns, .reaction_btns, .gestion_btns {
    height: 3rem;
  }
  .reaction_btns button {
    margin-left: 20%;
  }
  .gestion_btns button {
    margin-right: 20%;
  }
  .like_btn, .fav_btn, .edit_btn, .delete_btn {
    font-size: 1.3rem;
    width: 2.4rem;
    height: 2.4rem;
  }
  .edit_btn, .delete_btn {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.login_pg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_pg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_inputs {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2.5% !important;
}

.name_inputs input {
  display: flex;
  justify-content: space-between;
  width: 24% !important;
}

@media only screen and (max-width: 500px) {
  .name_inputs {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .name_inputs input {
    width: 65% !important;
  }
}
.create_pg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_pg .form_body {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.preview_cnt {
  border-radius: 1.5rem;
  width: 65%;
  height: 90%;
  margin-left: 3%;
  background-color: #d3d3d3;
}

.preview_cnt img {
  border-radius: 0.4rem;
  z-index: 1;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.create_pg .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100% !important;
}

.create_pg .form_body input {
  border-radius: 1.5rem;
  border: none;
  outline: none;
  background: none;
  width: 55%;
  margin: 0.5rem 0;
  height: 3rem;
  padding: 0 1.5rem;
  background-color: #F9F9F9;
}

.create_pg input:hover, .create_pg textarea:hover {
  background-color: rgba(249, 249, 249, 0.4745098039) !important;
}

.create_pg input:focus, .create_pg textarea:focus {
  background-color: #F9F9F9 !important;
}

.create_pg textarea {
  border-radius: 1.5rem;
  font-family: "IBM Plex Sans Thai", sans-serif;
  outline: none;
  border: none;
  width: 55%;
  min-width: 55%;
  max-width: 55%;
  min-height: 3rem;
  max-height: 7rem;
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
  background-color: #F9F9F9;
}

.create_pg .form_body button {
  border-radius: 1.5rem;
  position: relative;
  background: none;
  border: none;
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin-top: 1rem;
  padding: 0.5rem 1.3rem;
  background-color: #e0c133;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
}

.create_pg .form_body button:hover {
  background-color: #e6cb52;
}

.create_pg .form_body button:active {
  background-color: #eed567;
}

.create_pg .mainBottom_btn {
  width: 30%;
  background-color: #edeeeb !important;
  color: #a8a8a8 !important;
}
.create_pg .mainBottom_btn:hover {
  background-color: #edeeeb !important;
  color: #e6cb52 !important;
}
.create_pg .mainBottom_btn:active {
  color: #eed567 !important;
}
@media only screen and (max-width: 500px) {
  .create_pg .mainBottom_btn {
    width: 100%;
  }
  .create_pg .mainBottom_btn:hover {
    background-color: #e6cb52 !important;
    color: #edeeeb !important;
  }
  .create_pg .mainBottom_btn:active {
    background-color: #eed567 !important;
  }
}

@media only screen and (max-width: 500px) {
  .create_pg .form_body {
    border-radius: 0rem;
    flex-direction: column;
    top: 10vh;
    height: 80vh;
    position: absolute;
    padding-bottom: unset;
  }
  .create_pg .form_body input {
    width: 65%;
  }
  .create_pg .form_body .inputs {
    padding-bottom: 7vh;
  }
  .preview_cnt {
    margin: 8% 0 0 0;
    width: 45%;
    height: 45%;
    position: relative;
  }
  .create_pg textarea {
    width: 65% !important;
    max-width: 65% !important;
    min-width: 65% !important;
  }
}
.hidden {
  display: none;
}

.update_pg {
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
  position: fixed;
  background-color: #F9F9F9;
  width: 100%;
  height: 90vh;
}

.full_blur {
  background-color: #edeeeb;
  position: fixed;
  width: 100%;
}

.update_box {
  width: 60%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.inputs_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs_box label {
  border-radius: 1.5rem;
  width: 5rem;
  font-size: small;
  margin-top: 1rem;
  color: #e0c133;
  padding: 1% 2%;
  font-weight: 400;
  width: 100%;
}

.inputs_box textarea, .inputs_box input, button {
  border-radius: 0.4rem;
  font-family: "IBM Plex Sans Thai", sans-serif;
  border: none;
  outline: none;
  margin-top: 0.3rem;
}

.inputs_box textarea, .inputs_box input {
  padding: 1% 2%;
  font-size: medium;
  width: 100% !important;
  background: none;
  color: #242424;
}
.inputs_box textarea::placeholder, .inputs_box input::placeholder {
  color: #d3d3d3;
  font-weight: 400;
  font-size: medium;
}
.inputs_box textarea:hover, .inputs_box input:hover {
  color: rgba(36, 36, 36, 0.5803921569);
  transition: 0.3s all;
}
.inputs_box textarea:focus, .inputs_box input:focus {
  color: #056344;
}

.title_input {
  display: flex;
  height: 2rem;
  font-size: xx-large !important;
  font-weight: 600;
}

.inputs_box textarea {
  padding-top: 2%;
  width: initial;
  max-width: 100%;
  height: 10rem;
  min-height: 10rem;
  max-height: 15rem;
  font-size: medium;
  min-width: inherit;
}

.imgurl_input {
  height: 2rem;
  font-size: small !important;
  font-weight: 300 !important;
}

.update_btns {
  display: flex;
  width: 100%;
  justify-content: center;
}

.update_btn, .cancel_btn {
  border-radius: 1.5rem;
  margin: 1.5rem 0.5rem !important;
  padding: 0.5rem 1.3rem;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
  width: 10rem;
}

.update_btn {
  background-color: #e0c133 !important;
}
.update_btn:hover {
  background-color: #e6cb52 !important;
}
.update_btn:active {
  background-color: #eed567 !important;
}

.cancel_btn {
  background-color: rgba(87, 87, 87, 0.5490196078) !important;
  color: #F9F9F9;
}
.cancel_btn:hover {
  background-color: #a8a8a8 !important;
}
.cancel_btn:active {
  background-color: rgb(190, 190, 190) !important;
}

@media only screen and (max-width: 500px) {
  .update_pg {
    position: fixed;
    top: 10vh !important;
    bottom: 10vh !important;
    height: 80vh !important;
  }
  .full_blur {
    position: fixed;
  }
  .update_box {
    width: 90%;
    height: 70vh;
  }
}
.details_pg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_photo_mobile {
  display: none;
}

.details_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  height: 85%;
  border-radius: 0.4rem;
  filter: drop-shadow(0rem 0.1rem 0.15rem rgba(87, 87, 87, 0.5490196078));
  background: none;
}

.details_photo {
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 0.4rem;
  position: relative;
}

.details_photo img, .details_photo_mobile img {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  object-fit: cover;
}

.details_info {
  position: relative;
  width: 20rem;
  min-width: 20rem;
  height: 100%;
  border-radius: 0.4rem;
}

.details_info .form_header {
  background-color: #a8a8a8;
  height: 10vh;
  border-radius: 0.4rem;
}

.details_info .form_header .back_btn:hover {
  background-color: rgb(190, 190, 190);
}

.details_info .form_header .back_btn:active {
  background-color: #d3d3d3;
}

.details_body {
  width: 100%;
  height: 83%;
  background-color: #F9F9F9;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  overflow: auto;
}

.details_body p {
  margin: 0;
  padding: 4%;
  color: #242424;
  font-size: smaller;
}

.details_info .like_count {
  color: rgba(249, 249, 249, 0.6156862745);
  display: flex;
  align-content: center !important;
  position: absolute;
  bottom: 2%;
}

.details_info .like_count i {
  display: flex;
  align-items: center;
}

.details_info .reaction_btns {
  background-color: #F9F9F9;
  border-top-width: 0.1rem;
  border-top-color: rgba(36, 36, 36, 0.1019607843);
  border-top-style: solid;
  color: #d3d3d3 !important;
  width: 100%;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  height: 7vh;
}

.details_info .reaction_btns button {
  color: #a8a8a8;
  margin: 0 7%;
  display: flex;
  justify-content: center;
}

.details_info .like_btn:hover {
  color: #EE3561;
}
.details_info .like_btn:active {
  color: #F1557A;
}

.details_info .fav_btn:hover {
  color: #FCA641;
}
.details_info .fav_btn:active {
  color: #fcb462;
}

@media only screen and (max-width: 500px) {
  .details_cnt {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
    max-width: unset;
  }
  .details_info .form_header {
    background-color: #289772;
    border-radius: 0;
  }
  .details_info .form_header .back_btn:hover {
    background-color: #25a77b;
  }
  .details_info .form_header .back_btn:active {
    background-color: #36af87;
  }
  .details_photo {
    display: none;
  }
  .details_photo_mobile {
    display: flex;
    width: 100vw;
    height: unset;
    margin: 0 auto;
    position: relative;
  }
  .details_photo_mobile img {
    border-radius: 0rem;
  }
  .details_info {
    min-width: unset;
    width: 100%;
    top: 10vh;
  }
  .details_body {
    border-radius: 0;
  }
  .details_body p {
    font-size: medium;
  }
  .details_info .reaction_btns {
    position: fixed;
    bottom: 0;
    border-radius: 0% !important;
    font-size: medium;
  }
  .details_info .reaction_btns button {
    font-size: medium;
  }
}
.profile_tabs {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2fa57d;
  position: fixed;
  top: 10vh;
  width: 100%;
  height: 5vh;
}

.profile_tabs button {
  width: 25%;
  background: none;
  border: none;
  font-size: small;
  color: #F9F9F9;
}

.profile_tabs button:hover {
  background-color: #25a77b;
}

.profile_tabs button:active {
  background-color: #36af87;
}

.profile_body {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10vh;
  width: 100vw;
  height: 75vh;
}

.tab_user .user_cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab_user .user_photo {
  font-size: xx-large;
  margin-bottom: 5%;
}

.tab_user .user_name {
  color: #242424;
  font-size: large;
  font-weight: 400;
}

.tab_imageList {
  position: relative;
  height: 75vh;
  top: 15vh;
}

.tab_imageList .list_pg {
  position: relative;
  height: 75vh;
}

.tab_imageList .list_cnt {
  margin: 0;
  overflow: inherit;
  padding-bottom: 10vh;
}

.tab_imageList .card_txt, .tab_imageList .card_btns, .tab_imageList .card_img .like_count {
  display: none;
}

.tab_imageList .card_cnt {
  width: 33vw;
  height: 33vw;
  margin: 0.167vw;
  padding: 0;
}

.tab_list .list_pg {
  z-index: 0;
  position: relative;
  top: 15vh;
}

.searcher_pg {
  background-color: #F9F9F9;
  height: 100vh;
}

.searcher_pg .searcher {
  justify-content: flex-end;
}

.searcher_pg .back_cnt {
  z-index: 2;
}

.searcher_pg .searcher input {
  width: 100%;
  height: 100%;
  background-color: #289772;
  border-radius: 0;
  font-size: medium;
}

.searcher_pg .searcher input, .searcher_pg .searcher input:hover, .searcher_pg .searcher input:active, .searcher_pg .searcher input:focus {
  padding: 0 4rem 0 4rem !important;
}

.searcher_pg .searcher input:hover {
  background-color: #d3d3d3;
}

.searcher_pg .searcher input::placeholder {
  color: rgba(249, 249, 249, 0.4745098039);
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 200 !important;
}

.searcher_pg .searcher input:hover::placeholder {
  color: #a8a8a8;
}

.searcher_pg .searcher input:focus::placeholder {
  color: rgba(36, 36, 36, 0.5803921569) !important;
}

.searcher_pg .searcher button {
  margin-right: 3%;
}

.searcher_pg .searcher button i {
  font-size: medium;
  color: rgba(249, 249, 249, 0.4745098039);
}

.searcher_pg .searcher:hover button i {
  color: rgba(36, 36, 36, 0.5803921569);
}

.searcher_pg {
  display: none;
}

.searcher_list_pg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #edeeeb;
  width: 100%;
  height: 90vh;
  top: 10vh;
}

.searcher_list_pg .back_cnt {
  z-index: 2;
  position: fixed;
  top: 13vh;
  left: 2%;
  height: 2rem;
}

.searcher_list_pg .back_cnt button {
  color: rgba(36, 36, 36, 0.5803921569);
}
.searcher_list_pg .back_cnt button:hover {
  background-color: #289772;
  color: #F9F9F9;
}
.searcher_list_pg .back_cnt button:active {
  background-color: #36af87;
}

.searcher_list_pg .list_pg {
  background-color: #F9F9F9;
  height: 90vh;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
}

.searcher_list_pg .user_cnt, .searcher_list_pg .card_btns, .searcher_list_pg .card_img .like_count {
  display: none;
}

.searcher_list_pg .list_cnt {
  margin: 1% 10.5% 0 10.5%;
}

.searcher_list_pg .card_cnt {
  width: 25vw;
  height: 100%;
  margin: 0.5vw;
  padding: 0;
  background: none;
}

.searcher_list_pg .card_cnt .card_txt {
  background-color: inherit;
}

.searcher_list_pg h1 {
  color: rgba(36, 36, 36, 0.5803921569);
  font-size: small;
  font-weight: 400;
  padding: 3% 0 0 0;
}

.searcher_list_pg .card_img {
  border-radius: 0.25rem;
  background-color: inherit;
}

.searcher_list_pg img {
  border-radius: 0.25rem;
}

@media only screen and (max-width: 500px) {
  .searcher_pg {
    display: flex;
  }
  .searcher_list_pg {
    top: 10vh;
    position: relative;
    height: 90vh;
    width: 100%;
  }
  .searcher_list_pg h1 {
    font-size: x-small;
  }
  .searcher_list_pg .list_pg {
    height: 90vh;
    top: 10vh;
  }
  .searcher_list_pg .back_cnt {
    display: none;
  }
  .searcher_pg .back_cnt {
    top: unset;
    height: 100%;
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searcher_pg .back_cnt button {
    position: relative;
    color: #F9F9F9;
  }
  .searcher_list_pg .list_cnt {
    margin: 1% 0 0 0;
    padding-bottom: 10vh;
  }
  .searcher_list_pg .card_cnt {
    width: 49vw;
    height: 100%;
    margin: 0.5vw;
    padding: 0;
  }
}
.form_cnt {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.4rem;
  filter: drop-shadow(0rem 0.1rem 0.15rem rgba(87, 87, 87, 0.5490196078));
}

.form_header {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-color: #a8a8a8;
  position: relative;
}

.back_cnt {
  height: 100%;
  display: flex;
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back_btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9F9F9;
  font-size: large;
}

.back_btn:hover {
  cursor: pointer;
  background-color: rgb(190, 190, 190);
}

.back_btn:active {
  background-color: #d3d3d3;
}

.form_header h1 {
  background: none;
  color: #F9F9F9;
  font-weight: 300;
  font-size: medium;
  display: flex;
  align-items: center;
}

.form_body {
  width: 100%;
  height: 100%;
  background-color: #edeeeb;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  display: flex;
  flex-direction: column;
}

.form_body .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form_body input {
  border: none;
  outline: none;
  width: 55%;
  margin: 0.5rem 0;
  height: 3rem;
  border-radius: 1.2rem;
  padding: 0 1.5rem;
  background-color: #F9F9F9;
}

.form_body input:hover {
  background-color: rgba(249, 249, 249, 0.4745098039);
}

.form_body input:focus {
  background-color: #F9F9F9;
}

.form_body button {
  border-radius: 0.4rem;
  position: relative;
  background: none;
  border: none;
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin-top: 1rem;
  padding: 0.5rem 1.3rem;
  background-color: #e0c133;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
}

.form_body .inputs button {
  border-radius: 1.5rem;
}

.form_body button:hover {
  background-color: #e6cb52;
}

.form_body button:active {
  background-color: #eed567;
}

.mainBottom_btn {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  position: absolute !important;
  bottom: 0;
  height: 7vh;
  width: 100%;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  background-color: #a8a8a8 !important;
  color: #F9F9F9;
  margin: 0 !important;
}
.mainBottom_btn:hover {
  background-color: #e6cb52 !important;
}
.mainBottom_btn:active {
  background-color: #eed567 !important;
}

@media only screen and (max-width: 500px) {
  .form_cnt {
    width: 100%;
    border-radius: 0rem;
    height: 80vh;
  }
  .form_header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    border-radius: 0rem;
    position: fixed;
    top: 0;
    background-color: #289772;
  }
  .back_btn:hover {
    cursor: pointer;
    background-color: #25a77b;
  }
  .back_btn:active {
    background-color: #36af87;
  }
  .form_body {
    border-radius: 0rem;
  }
  .form_body input {
    width: 65%;
  }
  .mainBottom_btn {
    border-radius: 0 !important;
  }
}
.user_cnt {
  display: flex;
  background: none;
  align-items: center;
  border-radius: 1.5rem;
  width: 100%;
}

.user_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  color: #e4e4e4;
}

.user_name {
  background: inherit;
  margin: 0;
  padding: 0;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
}

.modal_pg {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(36, 36, 36, 0.1019607843);
}

.modal_box {
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  margin-top: -2%;
  width: 60%;
  height: 10vh;
  background-color: #F9F9F9;
}
.modal_box.modal_box h1 {
  background: inherit;
  padding: 1% 2%;
}

.modal_box button {
  border-radius: 1.5rem;
  background: none;
  border: none !important;
  background-color: #242424;
  width: 3rem;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: #FCA641 !important;
  color: #FCA641 !important;
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 4rem;
  height: 4rem;
  background: none;
  top: 50%;
  margin: 0 auto;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #FCA641;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.slidein {
  animation: moveFromLeft 0.5s ease-in;
  animation-delay: 10ms;
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
.slideout {
  animation: moveFromRight 0.5s ease-in;
  animation-delay: 10ms;
}

@keyframes moveFromRight {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
:root {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

#root {
  width: 100vw;
}

.App, body, html, h1 {
  margin: 0;
  padding: 0;
  background: none;
  display: flex;
  justify-content: center;
}

.App, body, html {
  background-color: #F9F9F9;
}

a {
  text-decoration: none;
  display: contents;
}

.signup_pg, .login_pg, .create_pg, .home_pg, .details_pg {
  position: relative;
  top: 10vh;
  width: 100%;
  height: 90vh;
}

@media only screen and (max-width: 500px) {
  .signup_pg, .login_pg, .create_pg, .details_pg, .update_pg, .form_cnt {
    bottom: 10vh;
    top: 0;
    height: 90vh;
  }
  .home_pg {
    top: 10vh;
    bottom: 10vh;
    height: 80vh;
  }
}

/*# sourceMappingURL=styles.css.map */
