@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.list_cnt {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: unset;
  flex-wrap: wrap;
  overflow-y: auto;
}

@media only screen and (max-width: 500px) {
  .list_cnt {
    margin-top: 3%;
    padding-bottom: 10vh;
  }
}
.login_pg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_pg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_inputs {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2.5% !important;
}

.name_inputs input {
  display: flex;
  justify-content: space-between;
  width: 24% !important;
}

@media only screen and (max-width: 500px) {
  .name_inputs {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .name_inputs input {
    width: 65% !important;
  }
}
.details_pg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.details_photo_mobile {
  display: none;
}

.details_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  height: 85%;
  border-radius: 0.4rem;
  filter: drop-shadow(0rem 0.1rem 0.15rem rgba(87, 87, 87, 0.5490196078));
  background: none;
}

.details_photo {
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 0.4rem;
  position: relative;
}

.details_photo img, .details_photo_mobile img {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  object-fit: cover;
}

.details_photo .like_count, .details_photo_mobile .like_count,
.details_photo .comment_count, .details_photo_mobile .comment_count,
.details_photo .ubication, .details_photo_mobile .ubication {
  opacity: 1;
  transition: 1.5s all;
}

.details_photo:active .like_count, .details_photo_mobile:active .like_count,
.details_photo:active .comment_count, .details_photo_mobile:active .comment_count,
.details_photo:active .ubication, .details_photo_mobile:active .ubication {
  opacity: 0;
  transition: 0.5s all;
}

.details_info {
  position: relative;
  width: 20rem;
  min-width: 20rem;
  height: 100%;
  border-radius: 0.4rem;
}

.details_info .form_header {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-color: #a8a8a8;
  height: 15%;
  position: relative;
}

.details_info .form_header .back_btn:hover {
  background-color: rgb(190, 190, 190);
}

.details_info .form_header .back_btn:active {
  background-color: #d3d3d3;
}

.details_body {
  width: 100%;
  height: 85%;
  position: relative;
  background-color: #F9F9F9;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details_body p {
  margin: 0;
  padding: 4%;
  color: #242424;
  font-size: smaller;
}

.details_body .user_cnt {
  margin-top: 2%;
}

.details_body .user_name {
  color: #a8a8a8 !important;
  font-size: x-small;
  font-weight: 400;
}

.photoAndDescription_mbl_box {
  overflow: auto;
  display: flex;
  width: 100%;
  min-height: fit-content;
  max-height: 50%;
}
@media only screen and (max-width: 500px) {
  .photoAndDescription_mbl_box {
    flex-direction: column;
    max-height: 75%;
  }
}

.description_box {
  overflow-y: auto;
  width: 100%;
}

.comments_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-top-width: 0.1rem;
  border-top-color: rgba(36, 36, 36, 0.1019607843);
  border-top-style: solid;
  color: #d3d3d3;
  width: 100%;
  height: fit-content;
  max-height: 80%;
  overflow: auto;
}
@media only screen and (max-width: 500px) {
  .comments_box {
    max-height: 25%;
  }
}

.users_comments {
  overflow-y: auto;
}

.comments_box .close {
  display: none !important;
}

@media only screen and (max-width: 500px) {
  .details_cnt {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
    max-width: unset;
  }
  .details_info .form_header {
    background-color: #289772;
    border-radius: 0;
    height: 10vh;
  }
  .details_info .form_header .back_btn:hover {
    background-color: #25a77b;
  }
  .details_info .form_header .back_btn:active {
    background-color: #36af87;
  }
  .details_photo {
    display: none;
  }
  .details_photo_mobile {
    display: flex;
    width: 100vw;
    height: unset;
    margin: 0 auto;
    position: relative;
  }
  .details_photo_mobile img {
    border-radius: 0rem;
  }
  .details_info {
    min-width: unset;
    width: 100%;
  }
  .details_body {
    border-radius: 0;
    height: 80vh;
  }
  .details_body p {
    font-size: medium;
  }
}
.profile_tabs {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2fa57d;
  position: fixed;
  top: 10vh;
  width: 100%;
  height: 5vh;
}

.profile_tabs button {
  width: 25%;
  background: none;
  border: none;
  font-size: small;
  color: #F9F9F9;
}

.profile_tabs button:hover {
  background-color: #25a77b;
}

.profile_tabs button:active {
  background-color: #36af87;
}

.profile_body {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10vh;
  width: 100vw;
  height: 75vh;
}

.tab_user .user_cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab_user .user_photo {
  font-size: xx-large;
  margin-bottom: 5%;
}

.tab_user .user_name {
  color: #242424;
  font-size: large;
  font-weight: 400;
}

.tab_imageList {
  position: relative;
  height: 75vh;
  top: 15vh;
}

.tab_imageList .list_pg {
  position: relative;
  height: 75vh;
}

.tab_imageList .list_cnt {
  margin: 0;
  overflow: inherit;
  padding-bottom: 10vh;
}

.tab_imageList .card_txt, .tab_imageList .card_btns, .tab_imageList .like_count, .tab_imageList .comment_count, .tab_imageList .ubication, .tab_imageList .card_img:hover .expands {
  display: none;
}

.tab_imageList .card_cnt {
  width: 33vw !important;
  height: 33vw !important;
  margin: 0.167vw;
  padding: 0;
}

.tab_list .list_pg {
  z-index: 0;
  position: relative;
  top: 15vh;
}

.searcher_list_pg {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  background-color: #edeeeb;
  width: 100vw;
  height: 90vh;
  position: fixed;
  top: 10vh;
  right: 0;
  overflow-y: auto;
  display: flex;
}
@media only screen and (max-width: 500px) {
  .searcher_list_pg {
    height: 80vh;
  }
}

.search_box {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.searcher_list_pg .back_cnt {
  z-index: 2;
  position: fixed !important;
  top: 13vh;
  left: 2%;
  height: 2rem;
}
@media only screen and (max-width: 500px) {
  .searcher_list_pg .back_cnt {
    display: block;
    top: 3vh;
    left: 1rem;
  }
}

.searcher_list_pg .back_cnt button {
  color: rgba(36, 36, 36, 0.5803921569);
}
.searcher_list_pg .back_cnt button:hover {
  background-color: #289772;
}
.searcher_list_pg .back_cnt button:active {
  background-color: #36af87;
}
@media only screen and (min-width: 500px) {
  .searcher_list_pg .back_cnt button {
    position: relative;
    color: #F9F9F9;
  }
}

.searcher_list_pg .back_cnt button i {
  font-size: large !important;
}

.searcher_list_pg .back_cnt button:hover i {
  color: #F9F9F9 !important;
}

.results_info {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: small;
  color: #289772;
  margin-top: 2%;
}
@media only screen and (max-width: 500px) {
  .results_info {
    font-size: medium;
  }
}

.searcher_list_pg .user_cnt,
.searcher_list_pg .card_btns,
.searcher_list_pg .card_img .like_count,
.searcher_list_pg .card_img .comment_count,
.searcher_list_pg .card_img .ubication,
.searcher_list_pg .card_img:hover .expands,
.search_box .description_txt {
  display: none !important;
}

.searcher_list_pg .card_cnt {
  margin: 1% 2.5%;
  width: 20%;
  background: none;
  height: fit-content !important;
}
@media only screen and (max-width: 500px) {
  .searcher_list_pg .card_cnt {
    margin: 1%;
    width: 100%;
  }
}

.searcher_list_pg .card_txt {
  background-color: inherit;
  height: unset;
}

.searcher_list_pg h1 {
  color: rgba(36, 36, 36, 0.5803921569) !important;
  font-size: small !important;
  display: flex;
  justify-content: center !important;
  font-weight: 400;
  padding-top: 3%;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .searcher_list_pg h1 {
    font-size: x-small;
  }
}

.searcher_list_pg .card_img {
  border-radius: 0.25rem;
  background-color: inherit;
  height: unset !important;
}

.searcher_list_pg img {
  border-radius: 0.25rem;
}

.logo_cnt {
  height: 100%;
}

.logo {
  background-color: inherit;
  color: #F9F9F9;
  font-size: larger;
  font-weight: 400;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0 1.8rem 0 2.3rem;
  font-weight: 200;
  transition: 0.5s all;
}

.logo:hover {
  color: #F9F9F9;
}

@media only screen and (max-width: 500px) {
  .logo_cnt {
    width: 100%;
  }
  .logo {
    justify-content: center;
    font-weight: 100;
    margin: 0;
  }
}
.menu_cnt {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.menu_cnt button {
  border-radius: 1.5rem;
  background: none;
  border: none;
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin-left: 0.5rem;
  padding: 0.5rem 1.3rem;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
  white-space: nowrap;
}

.menu_cnt button:hover {
  background-color: #25a77b;
  cursor: pointer;
}

.menu_cnt button:active {
  background-color: #36af87;
}

.menu_active {
  background-color: #25a77b !important;
}
.menu_active:hover {
  background-color: #36af87 !important;
}
.menu_active:active {
  background-color: #25a77b !important;
}
@media only screen and (max-width: 500px) {
  .menu_active {
    background-color: rgba(12, 136, 95, 0.479) !important;
  }
  .menu_active:hover {
    background-color: rgba(12, 136, 95, 0.863) !important;
  }
}

.nav_icon {
  margin-right: 0.5rem;
  display: none;
}

.menu_cnt .user_cnt {
  border-radius: 1.5rem;
  padding: 0.5rem 1.3rem 0.5rem 0rem;
}

.menu_cnt .user_cnt:hover {
  cursor: pointer;
}

.menu_cnt .user_photo {
  background-color: #d3d3d3;
}

.searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  position: relative;
}

.searcher input {
  border-radius: 1.5rem;
  width: 95%;
  height: 6vh;
  min-width: 10rem;
  position: relative;
  border: none;
  color: #F9F9F9;
  padding: 0 4rem 0 1.5rem;
  font-size: smaller;
  outline: none;
  background-color: rgba(249, 249, 249, 0.1843137255);
  --webkit-backdrop-filter: blur( 0.7rem );
}

.searcher input::placeholder {
  color: #289772;
}

input:focus::placeholder {
  color: #d3d3d3 !important;
}

.searcher input:hover {
  background-color: rgba(249, 249, 249, 0.4745098039);
  cursor: pointer;
}

.searcher input:active, .searcher input:focus {
  background-color: #F9F9F9;
}

.searcher input:focus {
  color: #242424;
  cursor: unset;
}

.searcher .search_submit_btn {
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 2%;
}

.searcher button i {
  background: none;
  color: #289772;
}

.searcher .closeSearch_btn {
  margin-right: 2rem;
  font-size: larger;
}
@media only screen and (max-width: 500px) {
  .searcher .closeSearch_btn {
    margin-right: 3.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .searcher_pg {
    background-color: #F9F9F9;
    height: 100vh;
  }
  .searcher_pg .back_cnt {
    z-index: 2;
  }
  .searcher_pg .searcher input {
    width: 100%;
    height: 100%;
    background-color: #289772;
    border-radius: 0;
    font-size: medium;
    height: 10vh;
  }
  .searcher_pg .searcher input {
    padding: 0 4rem 0 4rem !important;
  }
  .searcher_pg .searcher input:hover {
    background-color: #d3d3d3;
  }
  .searcher_pg .searcher input::placeholder {
    color: rgba(249, 249, 249, 0.4745098039);
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 200 !important;
  }
  .searcher_pg .searcher input:hover::placeholder {
    color: #a8a8a8;
  }
  .searcher_pg .searcher input:focus::placeholder {
    color: rgba(36, 36, 36, 0.5803921569) !important;
  }
  .searcher_pg .searcher button {
    margin-right: 3%;
  }
  .searcher_pg .searcher button i {
    font-size: medium;
    color: rgba(249, 249, 249, 0.4745098039);
  }
  .searcher_pg .searcher:hover button i {
    color: rgba(36, 36, 36, 0.5803921569);
  }
}
.navbar_cnt {
  background-color: rgba(12, 136, 95, 0.863);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
  border-bottom: 0.01rem solid #289772;
  z-index: 5;
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
}

.profile_btn, .search_bottom, .home_btn {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbar_cnt {
    display: none;
  }
  .navbar_cnt {
    z-index: 2;
    filter: drop-shadow(0rem 0.1rem 0.05rem #242424);
  }
}
.navbar_bottom {
  background-color: rgba(36, 36, 36, 0.5803921569);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
  border-bottom: 0.01rem solid rgba(36, 36, 36, 0.1019607843);
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: space-around;
}

.navbar_bottom .menu_cnt {
  display: contents;
}

.navbar_bottom button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none;
  height: 100%;
  width: 20%;
  color: #F9F9F9;
}

.navbar_bottom .nav_icon {
  display: flex;
  font-size: large;
  height: 60%;
  align-items: center;
  margin: 0;
}

.navbar_bottom .nav_name {
  height: 40%;
  display: flex;
  align-items: center;
  display: none;
}

.navbar_bottom button:hover {
  color: #F9F9F9;
  background-color: #25a77b;
}

.navbar_bottom button:active {
  background-color: #36af87;
}

.navbar_bottom .search_bottom {
  order: 2 !important;
}

.navbar_bottom .create_btn {
  order: 3;
}

.navbar_bottom .create_btn .nav_icon {
  font-size: xx-large !important;
}

.navbar_bottom .login_btn {
  order: 4;
}

.navbar_bottom .home_btn {
  order: 1 !important;
}

.navbar_bottom .profile_btn {
  order: 5;
}

.user_cnt {
  width: 100%;
}

.profile_btn .user_cnt {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.profile_btn .user_photo {
  font-size: large;
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.profile_btn .user_name {
  display: none;
}

@media only screen and (min-width: 500px) {
  .navbar_bottom {
    display: none;
  }
}
.navbarTopMobile_cnt {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbarTopMobile_cnt {
    background-color: rgba(12, 136, 95, 0.863);
    backdrop-filter: blur(0.7rem);
    -webkit-backdrop-filter: blur(0.7rem);
    border-bottom: 0.01rem solid #289772;
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
  }
}
.searcher_pg {
  background-color: #F9F9F9;
  height: 100vh;
}

.searcher_pg .searcher input {
  width: 100%;
  height: 100%;
  background-color: #289772;
  border-radius: 0;
  font-size: medium;
}
@media only screen and (min-width: 500px) {
  .searcher_pg .searcher input {
    display: none;
  }
}

.searcher_pg .searcher input {
  padding: 0 4rem 0 4rem !important;
  transition: 0.3s all ease-out;
}
.searcher_pg .searcher input:focus {
  padding: 0 4rem 0 4rem !important;
}

.searcher_pg .searcher input:hover, .searcher_pg .searcher input:active {
  background-color: #d3d3d3;
}

.searcher_pg .searcher input::placeholder {
  color: rgba(249, 249, 249, 0.4745098039);
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 200 !important;
}

.searcher_pg .searcher input:hover::placeholder {
  color: #a8a8a8;
}

.searcher_pg .searcher input:focus::placeholder {
  color: rgba(36, 36, 36, 0.5803921569) !important;
}

.searcher_pg .searcher button {
  margin-right: 3%;
}

.searcher_pg .searcher button i {
  font-size: medium;
  color: rgba(249, 249, 249, 0.4745098039);
}

.searcher_pg .searcher:hover button i {
  color: rgba(36, 36, 36, 0.5803921569);
}

.card_cnt {
  width: 18%;
  margin: 1.5% 1%;
  filter: drop-shadow(0rem 0rem 0.2rem #d3d3d3);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  background-color: #36af87;
  font-family: "Quicksand", sans-serif;
}
.card_cnt:hover {
  filter: drop-shadow(0rem 0rem 0.2rem rgb(190, 190, 190));
}
@media only screen and (max-width: 500px) {
  .card_cnt {
    width: 98%;
    height: 22rem;
    margin: 3% 1%;
    filter: drop-shadow(0rem 0.1rem 0.15rem rgba(36, 36, 36, 0.1019607843));
  }
}
@media only screen and (max-width: 500px) {
  .card_cnt {
    height: 100% !important;
  }
}

.card_img {
  z-index: 3;
  background-color: #d3d3d3;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.card_img a {
  display: contents;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s all ease;
}
.card_img img:hover {
  transform: scale;
  -webkit-transform: scale(1.04);
  transition: 1.5s all ease;
}

.like_count, .comment_count, .ubication, .expands {
  border-radius: 0.4rem;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1% 3%;
  margin: 1%;
  color: #F9F9F9;
  font-size: x-small;
  background-color: rgba(36, 36, 36, 0.1019607843);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
  transition: 0.3s all ease-out;
}
.like_count:hover, .comment_count:hover, .ubication:hover, .expands:hover {
  background-color: rgba(36, 36, 36, 0.5803921569);
  cursor: default;
  transition: 0.3s all ease-in;
}

.comment_count {
  left: unset;
  right: 0;
}

.ubication {
  top: 0;
  left: 0;
  bottom: unset;
}

.expands {
  display: none;
  top: 0;
  right: 0;
  left: unset;
  bottom: unset;
  font-size: large;
  background: none;
}

.card_img:hover .expands {
  display: flex;
  transition: 0.5s all ease-out;
  color: rgba(249, 249, 249, 0.6156862745);
  background: none;
  backdrop-filter: none;
}

.like_count i, .comment_count i, .ubication i {
  margin-right: 0.5rem;
  color: rgba(249, 249, 249, 0.4745098039);
}

.card_txt {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  width: 100%;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 1%;
  height: 15vh;
}
@media only screen and (max-width: 500px) {
  .card_txt {
    height: unset !important;
  }
}

.card_txt h1 {
  width: 90%;
  background-color: inherit;
  color: #242424;
  font-weight: 500;
  font-size: medium;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  justify-content: flex-start;
  margin: 0 5%;
  line-height: 1.3rem;
}

.title_txt {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis !important;
  word-break: break-all;
}

.card_cnt .description_txt {
  text-overflow: ellipsis !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.7rem;
  max-height: 1.5rem;
  transition: 1s all;
}
@media only screen and (max-width: 500px) {
  .card_cnt .description_txt:hover, .card_cnt .description_txt:active, .card_cnt .description_txt:focus {
    overflow-y: auto;
    -webkit-line-clamp: 4;
    transition: 1.5s all ease-out;
    max-height: 30rem;
    display: block;
  }
  .card_cnt .description_txt::-webkit-scrollbar {
    width: 0;
  }
}

.card_txt .user_cnt {
  width: 100%;
  margin: 2% 0;
}

.card_txt .user_photo {
  width: 1.1rem;
  height: 1.1rem;
}

.card_txt .user_name {
  margin: 0;
  font-size: x-small;
  font-weight: 400;
  color: rgba(36, 36, 36, 0.5803921569);
}

.card_btns .newComment_box {
  position: fixed !important;
  z-index: 1;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  animation: moveFromUp 0.5s ease-in;
}

@media only screen and (max-width: 500px) {
  .card_btns .commentBox_btn {
    font-size: medium;
  }
}

@keyframes moveFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0vh);
  }
}
.card_btns .share, .card_btns .user_photo {
  height: unset !important;
}

@media only screen and (max-width: 500px) {
  .card_cnt {
    width: 18%;
    margin: 1.5% 1%;
    filter: drop-shadow(0rem 0rem 0.2rem #d3d3d3);
  }
  .card_cnt:hover {
    filter: drop-shadow(0rem 0rem 0.2rem rgb(190, 190, 190));
  }
}
@media only screen and (max-width: 500px) and (max-width: 500px) {
  .card_cnt {
    width: 98%;
    height: 22rem;
    margin: 3% 1%;
    filter: drop-shadow(0rem 0.1rem 0.15rem rgba(36, 36, 36, 0.1019607843));
  }
}
@media only screen and (max-width: 500px) {
  .like_count, .comment_count, .ubication {
    font-size: smaller;
  }
}
.card_btns {
  z-index: 1;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  height: 2.5rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
@media only screen and (max-width: 500px) {
  .card_btns {
    height: 3rem;
  }
}

.card_btns button {
  color: #a8a8a8;
}

.like_btn, .edit_btn, .delete_btn, .comment_btn {
  background: none;
  border: none;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .like_btn, .edit_btn, .delete_btn, .comment_btn {
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}

.edit_btn, .delete_btn {
  height: 2rem;
  width: 2rem;
}
.edit_btn:hover, .delete_btn:hover {
  color: rgba(36, 36, 36, 0.5803921569);
  background-color: rgba(36, 36, 36, 0.1019607843);
}
.edit_btn:active, .delete_btn:active {
  color: rgba(87, 87, 87, 0.5490196078);
}
@media only screen and (max-width: 500px) {
  .edit_btn, .delete_btn {
    height: 2.3rem;
    width: 2.3rem;
  }
}

.like_btn, .comment_btn {
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 50%;
}

.like_btn:hover {
  color: #EE3561;
}
.like_btn:hover:active {
  color: #F1557A;
}

.comment_btn:hover {
  color: #416dfc;
}
.comment_btn:hover:active {
  color: #5d83ff;
}

.liked {
  color: #F1557A !important;
}
.liked:hover {
  color: #EE3561 !important;
}
.liked:active {
  color: #F1557A !important;
}

.commented {
  color: #5d83ff !important;
}
.commented:hover {
  color: #416dfc !important;
}
.commented:active {
  color: #5d83ff !important;
}

.comment_cnt {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4% 1%;
}
.comment_cnt:hover {
  background-color: rgba(36, 36, 36, 0.1019607843);
  transition: 0.4s all ease-in;
}

.comment_cnt .user_photo i {
  font-size: x-large;
}

.comment_body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment_body h1 {
  margin: 0 1%;
  padding: 0;
  font-size: smaller;
  justify-content: unset;
  word-break: break-all;
}

.comment_body .comment_txt {
  color: #242424;
  font-weight: 500;
  font-size: 0.7rem;
}

.comment_date {
  color: #242424;
  font-weight: 500;
  font-size: x-small !important;
}

.comment_txt_box {
  display: flex;
  justify-content: space-between;
}

.newComment_box {
  z-index: 2;
  display: flex;
  position: relative;
  background-color: #F9F9F9;
  border-top-width: 0.1rem;
  border-top-color: rgba(36, 36, 36, 0.1019607843);
  border-top-style: solid;
  color: #d3d3d3 !important;
  width: 100%;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
@media only screen and (max-width: 500px) {
  .newComment_box {
    border-radius: 0;
  }
}

.user_photo {
  display: flex;
  align-items: center;
  height: 100% !important;
}

.comment_input {
  width: 100%;
  padding: 5% 0;
  background-color: #F9F9F9;
  border: none;
  outline: none;
  cursor: pointer;
}
.comment_input:hover {
  color: #289772;
}
.comment_input:active, .comment_input:focus {
  color: #289772;
  cursor: text;
}

.commentBox_btns {
  right: 0;
  font-size: medium;
  display: flex;
  align-items: center;
  width: auto;
}

.commentBox_btns button {
  border: none;
  background: none;
  width: 1.5rem;
  margin: 0 0.5rem;
  height: 100%;
  color: #a8a8a8;
}
.commentBox_btns button:hover {
  color: #416dfc;
}
.commentBox_btns button:active {
  color: #5d83ff;
}
@media only screen and (max-width: 500px) {
  .commentBox_btns button {
    margin: 0 1rem;
  }
}

.newComment_box .close:hover {
  color: #EE3561 !important;
}
.newComment_box .close:hover:active {
  color: #F1557A !important;
}

.hidden {
  display: none;
}

.mainForm_pg {
  z-index: 3;
  position: fixed;
  background-color: #F9F9F9;
  width: 100vw;
  height: 90vh;
  font-family: "Quicksand", sans-serif;
  top: 10vh;
}
@media only screen and (max-width: 500px) {
  .mainForm_pg {
    bottom: 10vh !important;
    height: 80vh !important;
  }
}

.mainForm_pg .form_header {
  display: none;
}
@media only screen and (max-width: 500px) {
  .mainForm_pg .form_header {
    display: flex;
  }
}

.mainForm_box {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 500px) {
  .mainForm_box {
    width: 92%;
  }
}

.inputs_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mainForm_input_box {
  width: 100%;
  height: auto;
  padding: 1% 2%;
}

.title_box {
  margin-top: 2%;
}

.inputs_box label {
  border-radius: 1.5rem;
  margin-bottom: 1%;
  display: flex;
  width: 5rem;
  font-size: small;
  color: #e0c133;
  font-weight: 400;
  width: 100%;
}

.form_icon {
  padding-right: 0.5rem;
}

.inputs_box textarea, .inputs_box input, button {
  border-radius: 0.4rem;
  font-family: "IBM Plex Sans Thai", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

.inputs_box textarea, .inputs_box input {
  font-size: medium;
  width: 100% !important;
  background: none;
  color: #242424;
  padding: 0;
}
.inputs_box textarea::placeholder, .inputs_box input::placeholder {
  color: #d3d3d3;
  font-weight: 400;
  font-size: medium;
}
.inputs_box textarea:hover::placeholder, .inputs_box textarea:focus::placeholder, .inputs_box input:hover::placeholder, .inputs_box input:focus::placeholder {
  color: rgba(36, 36, 36, 0.5803921569) !important;
  transition: 0.3s all;
}
.inputs_box textarea:hover, .inputs_box input:hover {
  color: #289772;
  transition: 0.3s all;
  cursor: text;
}
.inputs_box textarea:focus, .inputs_box input:focus {
  color: #056344;
}

.title_input {
  display: flex;
  height: 2rem;
  font-size: xx-large !important;
  font-weight: 600;
}

.inputs_box textarea {
  padding: 0;
  width: initial;
  max-width: 100%;
  min-height: 7rem;
  max-height: 15rem;
  font-size: medium;
  min-width: inherit;
}
@media only screen and (max-width: 500px) {
  .inputs_box textarea {
    max-height: 15rem;
  }
}

.imgurl_input {
  height: 2rem;
  font-size: small !important;
  font-weight: 300 !important;
}

.reduced {
  flex-direction: column;
  align-items: unset !important;
}

.reduced img {
  margin: 0 !important;
  -webkit-box-reflect: below 0% linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.267));
  transition: 1s all ease-out;
}
.reduced img:hover {
  width: 40%;
  transition: 1s all ease-in;
}
@media only screen and (max-width: 500px) {
  .reduced img:hover {
    width: 100%;
  }
}

.reduced input {
  width: 10rem !important;
  text-overflow: ellipsis !important;
  transition: 1s all;
}
.reduced input:hover, .reduced input:active, .reduced input:focus {
  width: 100% !important;
  transition: 1s all;
}

.preview_and_url {
  display: flex;
  align-items: center;
  width: 100%;
}

.preview_and_url img {
  width: 10rem;
  height: auto;
  margin-right: 2%;
  border-radius: 0.25rem;
}

.mainForm_btns {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 15%;
}
@media only screen and (max-width: 500px) {
  .mainForm_btns {
    width: 100%;
  }
}

.mainForm_btn, .cancel_btn {
  border-radius: 1.5rem;
  margin: 1.5rem 0.5rem !important;
  padding: 0.5rem 1.3rem;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
  width: 7rem;
}

.mainForm_btn {
  background-color: #e0c133 !important;
}
.mainForm_btn:hover {
  background-color: #e6cb52 !important;
}
.mainForm_btn:active {
  background-color: #eed567 !important;
}

.cancel_btn {
  background-color: rgba(87, 87, 87, 0.5490196078) !important;
  color: #F9F9F9;
}
.cancel_btn:hover {
  background-color: #a8a8a8 !important;
}
.cancel_btn:active {
  background-color: rgb(190, 190, 190) !important;
}

.close_btn {
  position: fixed;
  top: 12vh;
  right: 5vw;
  background: none;
  border: none;
  color: #d3d3d3;
  font-size: large;
  display: flex;
  align-items: center;
}
.close_btn:hover {
  color: #25a77b;
}
.close_btn:active {
  color: #36af87;
}

.close_txt {
  font-size: x-small;
  margin-left: 0.5rem;
}

.form_cnt {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.4rem;
  filter: drop-shadow(0rem 0.1rem 0.15rem rgba(87, 87, 87, 0.5490196078));
}

.form_header {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-color: #a8a8a8;
  position: relative;
}

.back_cnt {
  height: 100%;
  display: flex;
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back_btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9F9F9;
  font-size: large;
}

.back_btn:hover {
  cursor: pointer;
  background-color: rgb(190, 190, 190);
}

.back_btn:active {
  background-color: #d3d3d3;
}

.form_header h1 {
  background: none;
  color: #F9F9F9;
  font-weight: 300;
  font-size: medium;
  display: flex;
  align-items: center;
}

.form_body {
  width: 100%;
  height: 100%;
  background-color: #edeeeb;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  display: flex;
  flex-direction: column;
}

.form_body .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form_body input {
  border: none;
  outline: none;
  width: 55%;
  margin: 0.5rem 0;
  height: 3rem;
  border-radius: 1.2rem;
  padding: 0 1.5rem;
  background-color: #F9F9F9;
}
.form_body input::placeholder {
  color: #a8a8a8;
}
.form_body input:hover::placeholder {
  color: #eed567;
  transition: 0.15s all ease-in;
}
.form_body input:focus {
  color: #242424;
  background-color: #F9F9F9;
}
.form_body input:focus::placeholder {
  color: #e0c133 !important;
}

.form_body button {
  border-radius: 0.4rem;
  position: relative;
  background: none;
  border: none;
  font-family: "IBM Plex Sans Thai", sans-serif;
  margin-top: 1rem;
  padding: 0.5rem 1.3rem;
  background-color: #e0c133;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
}

.form_body .inputs button {
  border-radius: 1.5rem;
}

.form_body button:hover {
  background-color: #e6cb52;
}

.form_body button:active {
  background-color: #eed567;
}

.mainBottom_btn {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  position: absolute !important;
  bottom: 0;
  height: 7vh;
  width: 100%;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  background-color: #a8a8a8 !important;
  color: #F9F9F9;
  margin: 0 !important;
}
.mainBottom_btn:hover {
  background-color: #e6cb52 !important;
}
.mainBottom_btn:active {
  background-color: #eed567 !important;
}

@media only screen and (max-width: 500px) {
  .form_cnt {
    width: 100%;
    border-radius: 0rem;
    height: 80vh;
  }
  .form_header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    border-radius: 0rem;
    position: fixed;
    top: 0;
    background-color: #289772;
  }
  .back_btn:hover {
    cursor: pointer;
    background-color: #25a77b;
  }
  .back_btn:active {
    background-color: #36af87;
  }
  .form_body {
    border-radius: 0rem;
  }
  .form_body input {
    width: 65%;
  }
  .mainBottom_btn {
    border-radius: 0 !important;
  }
}
.user_cnt {
  display: flex;
  background: none;
  align-items: center;
  border-radius: 1.5rem;
  width: 100%;
}

.user_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  color: #d3d3d3;
}

.user_name {
  background: inherit;
  margin: 0;
  padding: 0;
  color: #F9F9F9;
  font-size: small;
  font-weight: 400;
}

.modal_pg {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(36, 36, 36, 0.1019607843);
}

.modal_box {
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  margin-top: -2%;
  width: 60%;
  height: 10vh;
  background-color: #F9F9F9;
}
.modal_box.modal_box h1 {
  background: inherit;
  padding: 1% 2%;
}

.modal_box button {
  border-radius: 1.5rem;
  background: none;
  border: none !important;
  background-color: #242424;
  width: 3rem;
  height: 100%;
}

.lds-ellipsis {
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 47%;
}
@media only screen and (max-width: 500px) {
  .lds-ellipsis {
    left: 40%;
  }
}

.lds-ellipsis div {
  position: absolute;
  top: 0rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #289772;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 2rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 4rem;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2rem, 0);
  }
}
.slide_in {
  animation: moveFromLeft 0.5s ease-in;
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes moveFromLeft_opacity {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}
.slide_in_slow {
  animation: moveFromLeft 1s ease-in;
}

@keyframes moveFromLeft_opacity {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}
.slide_out {
  animation: moveFromRight 0.5s ease-in;
}

@keyframes moveFromRight {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.slide_up {
  animation: moveFromDown 0.5s ease-in;
}

@keyframes moveFromDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0vh);
  }
}
.scale {
  transform: scale;
  -webkit-transform: scale(1.1);
  transition: 1.5s all ease;
}

.rotate {
  transition: 1.5s all ease;
  transform: rotateX(180deg);
  transform: rotateY(180deg);
  transform: rotateZ(180deg);
}

:root {
  font-family: "Quicksand", sans-serif;
}

#root {
  width: 100vw;
}

.App, body, html, h1 {
  margin: 0;
  padding: 0;
  background: none;
  display: flex;
  justify-content: center;
}

.App, body, html {
  background-color: #F9F9F9;
}

a {
  text-decoration: none;
  display: contents;
}

.signup_pg, .login_pg, .create_pg, .home_pg, .details_pg {
  position: relative;
  top: 10vh;
  width: 100%;
  height: 90vh;
}

@media only screen and (max-width: 500px) {
  .signup_pg, .login_pg, .create_pg, .details_pg, .update_pg, .form_cnt {
    bottom: 10vh;
    top: 0;
    height: 90vh;
  }
  .home_pg {
    top: 10vh;
    bottom: 10vh;
    height: 80vh;
  }
}

/*# sourceMappingURL=styles.css.map */
