@import "./components/variables.scss";

@import "./components/pages/list.scss";
@import "./components/pages/login.scss";
@import "./components/pages/signup.scss";
@import "./components/pages/create.scss";
@import "./components/pages/update.scss";
@import "./components/pages/details.scss";
@import "./components/pages/profile.scss";
@import "./components/pages/searcherList.scss";

@import "./components/nav/navbar.scss";
@import "./components/nav/navbarBottom.scss";
@import "./components/nav/navbarTopMobile.scss";
@import "./components/nav/searcherMobile.scss";

@import "./components/card.scss";
@import "./components/cardButtons.scss";
@import "./components/comment.scss";
@import "./components/newComment.scss";
@import "./components/form.scss";
@import "./components/userCard.scss";
@import "./components/modals.scss";
@import "./components/scrollbar.scss";
@import "./components/spinner.scss";
@import "./components/transitions.scss";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// font-family: 'IBM Plex Sans Thai', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto', sans-serif;

:root{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

#root{
    width: 100vw;
}

.App, body, html, h1{
    margin: 0;
    padding: 0;
    background: none;
    display: flex;
    justify-content: center;
}

.App, body, html{
    background-color: $colorWhite;
}

a{
    text-decoration: none;
    display: contents;
}

.signup_pg, .login_pg, .create_pg, .home_pg, .details_pg{
    position: relative;
    top: 10vh;    
    width: 100%;
    height: 90vh;
}

@media only screen and (max-width: $breakPointSmall){
    .signup_pg, .login_pg, .create_pg, .details_pg, .update_pg, .form_cnt{
        bottom: 10vh; 
        top: 0;
        height: 90vh;
    }  
    
    .home_pg{
        top: 10vh;
        bottom: 10vh; 
        height: 80vh;
    }
}
