.searcher_pg{
    background-color: $colorWhite;
    height: 100vh;
}

.searcher_pg .searcher input{
    width: 100%;
    height: 100%;
    background-color: $colorHeader;
    border-radius: 0;
    font-size: medium;

    @media only screen and (min-width: $breakPointSmall){
        display: none;
    }
}

.searcher_pg .searcher input{
    padding: 0 4rem 0 4rem !important;
    transition: .3s all ease-out;
    &:focus{
        padding: 0 4rem 0 4rem !important;
    }
}

.searcher_pg .searcher input:hover, .searcher_pg .searcher input:active{
    background-color: $colorGrey;   
}

.searcher_pg .searcher input::placeholder{
    color: $colorWhiteOpacity;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 200 !important;
}

.searcher_pg .searcher input:hover::placeholder{
    color: $colorGreyHeader;
}

.searcher_pg .searcher input:focus::placeholder{
    color: $colorDarkOpacityLess !important;
}

.searcher_pg .searcher button{
    margin-right: 3%;
}

.searcher_pg .searcher button i{
    font-size: medium;
    color: $colorWhiteOpacity;
}

.searcher_pg .searcher:hover button i{
    color: $colorDarkOpacityLess;
}